.ratiosImages{
    display: flex;  
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    .ratios{
        
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
        width: 40%;

        div{
            height: 150px;
            width: 45%;
           
            img{
                object-fit: contain;
                height: 100%;
            }
            .ratio2{
              
                
            }
            .ratio3{
            }
            .ratio4{
               
            }
        }
        
    }
    .images{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 50%;
        align-items: center;
        img{
            width: 16.5%;
        }
    }
}